* {
  text-align: center;
  color: white;
}

body {
  background-image: url("https://live.staticflickr.com/3410/3289528934_562862eecb_z.jpg");
  background-repeat: repeat;
}

#screen {
  overflow: auto;
}

/* #screen div {
  float: left;
} */

#title {
  width: 250px;
  padding: 4px;
  margin: 0 auto 10px;
  color: white;
}

#rules-area {
  width: 400px;
  height: auto;
  padding: 4px;
  margin: 0 auto 10px;
  color: white;
}

#random-area {
  width: 200px;
  height: auto;
  padding: 4px;
  font-size: 7vw;
  margin: 0 auto  0px;
  color: white;
  clear: both;
}

#score-area {
  width: 210px;
  height: 100px;
  padding: 4px;
  margin: 0 auto 10px;
  color: ghostwhite;
}

#score-title {
  width: 210px;
  padding: 4px;
  margin: 0 auto 10px;
  color:white;
  text-align: center;
}

.crystals-button {
  display: inline;
  
}

.crystal-img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin: 0 3px;
  background-color: white;
  border: solid;
}

#score-number {
  font-size: 6vw;
  margin: 0 auto;
}

#win-area {
  height: auto;
  padding: 0px 4px 0px 4px;
  clear: both;
  margin: 0 auto;
  color: white;
}
